{% extends "base.html" %}
{% load static %}

{% block title %}
    Trang chủ
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "libs/datatables.net-bs4/css/dataTables.bootstrap4.css" %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->

        <!-- Charts -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Line Chart</h5>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                       <h5 class="card-title">Basic Datatable</h5>
                            <div class="table-responsive">
                            <table id="zero_config" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>User</th>
                                        <th>Date Order</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>User</th>
                                        <th>Date Order</th>
                                        <th>Status</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
<!-- End Charts -->
    {% block script %}
        <script src="{% static "libs-extra/DataTables/datatables.js" %}"></script>

        <script type="text/javascript" language="JavaScript" >
            $(document).ready(function() {
                $("#zero_config").DataTable({
                    ajax: {
                        url: 'http://localhost:8000/api/order/',
                        dataSrc: '',
                    },
                "columns": [
                    {"data": "user"},
                    {"data": "orderDate"},
                    {"data": "status"},
                ]
                });
            });
    </script>
    {% endblock %}

{% endblock %}

